body{
  background-color: white;
  color: black;
}

img {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body *{
  font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
  font-weight: bolder;
  margin: 0;
}

a, a:hover, a:visited{
  color: black;
  text-decoration: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper > h1{
    text-align: center;

}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav ul{

    margin-right: 700px;

}


nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button{
    background: none;
    color: black;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

nav button:hover {
  background-color: #4CAF50;
  color: white;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 5px double green;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.2em;
}

.article .author{
    padding: 10px;
    background: green;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #fff;
}

.article-detail .article{
    padding: 0;
}

.article-detail  .article img{
    max-width: 50%;
}

.article-detail  .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.article-detail .article h3{
    text-align: center;

}

.article-detail  .article p{
    margin: 10px 20px
}

.site-form {
    margin-top: 10px;
    border: 20px double white;
    padding: 20px;
    background-color: green;

}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;


}


a.highlight{
  border: 2px solid green;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 15px
}

a.highlight:hover {
  background-color: #4CAF50;
  color: white;
}
a.signup{
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 15px
}
a.signup:hover {
  background-color: #4CAF50;
  color: white;
}

a.home:hover {
  background-color: #4CAF50;
  color: white;
}
a.home:hover {
  background: #4CAF50;
  color: white;
}

a.login{
  border: 2px solid green;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 15px
}

button.logout{
  border: 2px solid green;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 15px

}
a.login:hover {
  background-color: #4CAF50;
  color: white;
}

}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: red;
    font-size: 14px;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid black;
    margin: 10px 0;
    color: red;
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background:  white;
    border: 2 solid;
    color: black;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}
